.message_wrapper {
  display: flex;
  justify-content: flex-start;
  /* прижимает к правому краю */
}

.MyMessageWrapper {
  display: flex;
  width: 100%;
  /* justify-content: flex-start; */
  justify-content: flex-end;
  /* прижимает к правому краю */
}

.container {
  display: inline-block;
  max-width: 80%;
  width: fit-content;
  border-radius: 15px;
  background-color: #182533;
  color: white;
  padding: 10px 15px;
  word-wrap: break-word;
  justify-content: space-between;
}

.Mycontainer {
  display: inline-block;
  max-width: 80%;
  width: fit-content;
  border-radius: 15px;
  background-color: #2b5278;
  color: white;
  padding: 10px 15px;
  word-wrap: break-word;
  justify-content: space-between;
}

.author {
  text-align: left;
  padding-bottom: 5px;
  color: #62d4e3;
}

.message {
  display: flex;
  text-align: left;
  gap: 10px;
  align-items: flex-end;
  max-width: 100%;
}

.messageContent {
  flex: 1;
  min-width: 10px;
  /* важно для правильного переноса длинного текста */
  max-width: 500px;
  /* max-width: calc(100% - 80px); оставляем место для времени */
}

.timestamp {
  font-size: 12px;
  color: #6d7f8f;
  white-space: nowrap;
  flex-shrink: 0;
  align-self: flex-end;
  user-select: none;
}

.MyTimestamp {
  font-size: 12px;
  color: #7da8d3;
  white-space: nowrap;
  flex-shrink: 0;
  align-self: flex-end;
  user-select: none;
}

/* @media (max-width: 1024px) {
    .MyMessageWrapper {
        justify-content: flex-end;
    }
} */
