.container{
    width:fit-content ;
    text-align: left;
}

.selectUser {
  color: #b59c00;
  font-weight: 600;
}

.statusOnline{
    color: #4e90c4; 
    font-size: 14px;
}

.statusOffline{
    color: #6d7f8f;
    font-size: 14px;
}