# Node.js
node_modules/
node_modules/.prisma
/src/generated/prisma/
/src/prisma/migrations/

# TypeScript
dist/
build/
*.tsbuildinfo

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

# Optional prettier cache
.prettiercache

# GraphQL
*.graphql
*.gql
graphql.schema.json

