.container {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  height: 100vh;
  overflow-y: auto;
  text-align: center;
  /* padding: 20px; */
  color: white;
  background-color: #182533;

  margin-left: auto;
  /* прижимаем вправо */
}

.container_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  height: 70px;
  border-bottom: 1px solid #2a3b52;
  border-left: 1px solid #2a3b52;
  height: 70px;
  box-sizing: border-box;
}
.settings_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.settings_button svg {
  width: 20px;
  height: 20px;
}
.settings_button:hover {
  border-radius: 8px;

  background-color: #2a3b52;
}

.profile_avatar svg,
.profile_avatar img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profile_avatar:hover {
  filter: brightness(0.8);
}

.container_users {
  flex: 1; /* занимает всё доступное место */
  overflow-y: auto; /* скроллится только список */
  padding: 20px;
  text-align: center;
}

.container h4 {
  margin-bottom: 10px;
}

.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container ul li {
  display: flex; /* превращаем li в flex-контейнер */
  align-items: center; /* центрируем по вертикали */
  justify-content: flex-start; /* контент прижат влево */
  padding: 5px 10px; /* отступы сверху/снизу и слева/справа */
}

.container ul li:hover {
  background-color: #2a3b52;
  border-radius: 8px;
}
.userIcon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: white;
}
