.container {
  width: 200px;
  min-width: 200px;
  /* border-left: 5px solid #53bd8d; */
  height: 100vh;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #182533;

  margin-left: auto;
  /* прижимаем вправо */
}

.container h4 {
  margin-bottom: 10px;
}

.container ul li {
  justify-items: center;
  padding-bottom: 10px;
}

.userIcon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: white;
}
