.container {
    width: 300px;
    /* border-left: 5px solid #53bd8d; */
    height: 100vh;
    overflow-y: auto;
    text-align: center;
    padding: 30px;
    color: white;
    background-color: #182533;

    margin-left: auto; /* прижимаем вправо */
}