/* IncomingCallModal.module.css */

.incomingCallModal {
	position: fixed;
	/* фиксируем на экране */
	top: 0;
	left: 0;
	width: 100vw;
	/* на весь экран */
	height: 100vh;
	/* на всю высоту */
	display: flex;
	align-items: center;
	/* вертикальное центрирование */
	justify-content: center;
	/* горизонтальное центрирование */
	background-color: rgba(0, 0, 0, 0.5);
	/* полупрозрачный фон */
	z-index: 1000;
	/* поверх всего остального */
}

.incomingCallContent {
	background-color: #1b1e23;
	padding: 24px;
	border-radius: 12px;
	width: 320px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.incomingCallHeader {
	text-align: center;
	margin-bottom: 16px;
}

.callerInfo {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user_avatar {
	width: 90px;
	height: 90px;
	margin-bottom: 10px;

	color: rgb(0, 0, 0);
	fill: currentColor;
	border-radius: 50%;
	/* делает форму круглой */

	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	/* чтобы контент не выходил за круг */
	user-select: none;
}

.callerName {
	color: white;
	font-size: 26px;
	font-weight: bold;
	display: block;
}

.callType {
	padding-top: 10px;
	font-size: 14px;
	color: #94a3b8;
}

.incomingCallActions {
	display: flex;
	justify-content: space-between;
	/* width: 100%; */
	margin-top: 16px;
}

.callButton {
	flex: 1;
	padding: 10px 0;
	margin: 0 4px;
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.2s;
}

.acceptButton {
	background-color: #4caf50;
	color: white;
}

.acceptButton:hover {
	background-color: #45a049;
}

.rejectButton {
	background-color: #f44336;
	color: white;
}

.rejectButton:hover {
	background-color: #d32f2f;
}

.callButtonsRow {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-top: 20px;
}

.circleButtonWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.circleButton {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	color: white;
	transition: transform 0.15s ease;
}

.circleButton:hover {
	transform: scale(1.1);
}

.acceptBtn {
	background-color: #468cc7;
	/* синий */
}

.rejectBtn {
	background-color: #cc4645;
	/* красный */
}

.rejectBtn svg {
	margin-top: 5px;
}

.buttonLabel {
	margin-top: 8px;
	font-size: 14px;
	color: #ddd;
	text-align: center;
}