.container {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    gap: 4px;
    /* background-color: #1e2a38; */
    color: white;
    border-radius: 8px;
}

.title {
    /* margin: 0; */
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 500;
    text-align: start;
    color: #6ab3f3;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.label {
    text-transform: capitalize;
    margin-right: 12px;
    flex: 1;
}

.select {
    display: inline-block;
    width: max-content;
    padding: 6px 10px;
    border-radius: 4px;
    /* border: 1px solid #ccc; */
    background-color: #17212b;
    color: #6ab3f3;
}

.applyButton {
    margin-top: 16px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-end;
}